<div id="form-category">
    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.color) }}
        </div>
        <button class="btn btn-secondary text-uppercase">{{ action }}</button>
    {{ form_end(form) }}
</div>