{% extends 'base.html.twig' %}

{% block title %}Ré initialiser votre mot de passe | {{ parent() }}{% endblock %}

{% block body %}
<section class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-8 col-xl-6 col-xxl-4">
        <header class="mb-3">
            <h1 class="text-uppercase fw-bold h3">Ré initialiser votre mot de passe</h1>
            <p class="mb-0">Votre mot de passe doit contenir</p>
            <ul>
                <li>au moins une majuscule</li>
                <li>au moins un nombre</li>
                <li>au moins 10 caractères</li>
            </ul>
        </header>

        {% include "front/partials/_flash.html.twig" %}

        <div class="card-auth">
            {{ form_start(form) }}
                
                {{ form_row(form.plainPassword) }}

                {{ component('ButtonComponent', {
                    'label': 'valider',
                    'type': 'submit',
                }) }}

            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
