<div{{ attributes }}>
    {% if path is null %}
        <button class="btn btn-{{ color }} text-uppercase" type="{{ type }}">{{ label }}</button>
    {% else %}
        <a href="{{ path }}" class="btn btn-{{ color }} text-uppercase">{{ label }}</a>
    {% endif %}
</div>
