{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié ? | {{ parent() }}{% endblock %}

{% block body %}
<section class="d-flex justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-8 col-xl-6 col-xxl-4">
        <header class="mb-3">
            <h1 class="text-uppercase fw-bold h3">Mot de passe oublié ?</h1>
            <p class="mb-0">Renseigner votre adresse email pour recevoir un lien pour ré initialiser votre mot de passe.</p>
        </header>

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                {{ component('AlertComponent', {
                    'color': label,
                    'message': message,
                    'dismiss': true,
                }) }}
            {% endfor %}
        {% endfor %}

        <form method="POST" class="card-auth">
            {{ component('InputComponent', {
                type: "email",
                name: "email",
                label: "Adresse email",
                id: "inputEmail",
                attrs: [
                    "required", "autocomplete='email'", "autofocus",
                ]
            }) }}

            <input type="hidden" name="_token" value="{{ csrf_token('forget-password') }}">

            {{ component('ButtonComponent', {
                'label': 'valider',
                'type': 'submit',
            }) }}
        </form>
    </div>
</section>
{% endblock %}
